--
-- PostgreSQL database dump
--

\restrict zxLxnBndH6fGJ9mFcrsaw586UzEfbhqpK4dKC5onbV4j0vvHbNQfAE9iZfxFM2Z

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminRoleClaims; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."AdminRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" uuid NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AdminRoleClaims" OWNER TO petwebsite_user;

--
-- Name: AdminRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."AdminRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AdminRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AdminRoles; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."AdminRoles" (
    "Id" uuid NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AdminRoles" OWNER TO petwebsite_user;

--
-- Name: AdminUserClaims; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."AdminUserClaims" (
    "Id" integer NOT NULL,
    "UserId" uuid NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AdminUserClaims" OWNER TO petwebsite_user;

--
-- Name: AdminUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."AdminUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AdminUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AdminUserLogins; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."AdminUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" uuid NOT NULL
);


ALTER TABLE public."AdminUserLogins" OWNER TO petwebsite_user;

--
-- Name: AdminUserRoles; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."AdminUserRoles" (
    "UserId" uuid NOT NULL,
    "RoleId" uuid NOT NULL
);


ALTER TABLE public."AdminUserRoles" OWNER TO petwebsite_user;

--
-- Name: AdminUserTokens; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."AdminUserTokens" (
    "UserId" uuid NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AdminUserTokens" OWNER TO petwebsite_user;

--
-- Name: Admins; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."Admins" (
    "Id" uuid NOT NULL,
    "FirstName" character varying(100) NOT NULL,
    "LastName" character varying(100) NOT NULL,
    "RefreshToken" character varying(500),
    "RefreshTokenExpiryTime" timestamp with time zone,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "LastLoginAt" timestamp with time zone,
    "IsActive" boolean DEFAULT true NOT NULL,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."Admins" OWNER TO petwebsite_user;

--
-- Name: AppLocales; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."AppLocales" (
    "Id" integer NOT NULL,
    "Code" character varying(10) NOT NULL,
    "Name" character varying(100) NOT NULL,
    "NativeName" character varying(100) NOT NULL,
    "IsActive" boolean DEFAULT true NOT NULL,
    "IsDefault" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."AppLocales" OWNER TO petwebsite_user;

--
-- Name: AppLocales_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."AppLocales" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AppLocales_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: BlacklistedTokens; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."BlacklistedTokens" (
    "Id" integer NOT NULL,
    "TokenId" character varying(100) NOT NULL,
    "UserId" uuid NOT NULL,
    "UserType" character varying(50) NOT NULL,
    "BlacklistedAt" timestamp with time zone NOT NULL,
    "ExpiresAt" timestamp with time zone NOT NULL,
    "Reason" character varying(200)
);


ALTER TABLE public."BlacklistedTokens" OWNER TO petwebsite_user;

--
-- Name: BlacklistedTokens_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."BlacklistedTokens" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."BlacklistedTokens_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Cities; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."Cities" (
    "Id" integer NOT NULL,
    "Name" character varying(100) NOT NULL,
    "IsActive" boolean DEFAULT true NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "IsDeleted" boolean DEFAULT false NOT NULL,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid
);


ALTER TABLE public."Cities" OWNER TO petwebsite_user;

--
-- Name: Cities_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."Cities" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Cities_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: FavoriteAds; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."FavoriteAds" (
    "UserId" uuid NOT NULL,
    "PetAdId" integer NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."FavoriteAds" OWNER TO petwebsite_user;

--
-- Name: PetAdImages; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."PetAdImages" (
    "Id" integer NOT NULL,
    "FilePath" character varying(500) NOT NULL,
    "FileName" character varying(255) NOT NULL,
    "FileSize" bigint NOT NULL,
    "ContentType" character varying(100) NOT NULL,
    "IsPrimary" boolean DEFAULT false NOT NULL,
    "UploadedAt" timestamp with time zone NOT NULL,
    "PetAdId" integer,
    "AttachedAt" timestamp with time zone,
    "UploadedById" uuid NOT NULL
);


ALTER TABLE public."PetAdImages" OWNER TO petwebsite_user;

--
-- Name: PetAdImages_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."PetAdImages" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PetAdImages_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PetAdQuestions; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."PetAdQuestions" (
    "Id" integer NOT NULL,
    "PetAdId" integer NOT NULL,
    "UserId" uuid NOT NULL,
    "Question" character varying(1000) NOT NULL,
    "Answer" character varying(2000),
    "AnsweredAt" timestamp with time zone,
    "IsDeleted" boolean DEFAULT false NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid
);


ALTER TABLE public."PetAdQuestions" OWNER TO petwebsite_user;

--
-- Name: PetAdQuestions_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."PetAdQuestions" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PetAdQuestions_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PetAdViews; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."PetAdViews" (
    "Id" integer NOT NULL,
    "UserId" uuid NOT NULL,
    "PetAdId" integer NOT NULL,
    "ViewedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."PetAdViews" OWNER TO petwebsite_user;

--
-- Name: PetAdViews_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."PetAdViews" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PetAdViews_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PetAds; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."PetAds" (
    "Id" integer NOT NULL,
    "Title" character varying(200) NOT NULL,
    "Description" character varying(2000) NOT NULL,
    "AgeInMonths" integer NOT NULL,
    "Gender" integer NOT NULL,
    "AdType" integer NOT NULL,
    "Color" character varying(50) NOT NULL,
    "Weight" numeric(8,2),
    "Size" integer,
    "Price" numeric(18,2),
    "CityId" integer NOT NULL,
    "Status" integer DEFAULT 0 NOT NULL,
    "RejectionReason" character varying(500),
    "IsAvailable" boolean DEFAULT true NOT NULL,
    "IsPremium" boolean DEFAULT false NOT NULL,
    "PremiumActivatedAt" timestamp with time zone,
    "PremiumExpiresAt" timestamp with time zone,
    "ViewCount" integer DEFAULT 0 NOT NULL,
    "PublishedAt" timestamp with time zone,
    "ExpiresAt" timestamp with time zone,
    "PetBreedId" integer NOT NULL,
    "UserId" uuid,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "IsDeleted" boolean DEFAULT false NOT NULL,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid
);


ALTER TABLE public."PetAds" OWNER TO petwebsite_user;

--
-- Name: PetAds_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."PetAds" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PetAds_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PetBreedLocalizations; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."PetBreedLocalizations" (
    "Id" integer NOT NULL,
    "PetBreedId" integer NOT NULL,
    "Title" character varying(100) NOT NULL,
    "AppLocaleId" integer NOT NULL
);


ALTER TABLE public."PetBreedLocalizations" OWNER TO petwebsite_user;

--
-- Name: PetBreedLocalizations_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."PetBreedLocalizations" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PetBreedLocalizations_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PetBreeds; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."PetBreeds" (
    "Id" integer NOT NULL,
    "IsActive" boolean DEFAULT true NOT NULL,
    "PetCategoryId" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "IsDeleted" boolean DEFAULT false NOT NULL,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid
);


ALTER TABLE public."PetBreeds" OWNER TO petwebsite_user;

--
-- Name: PetBreeds_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."PetBreeds" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PetBreeds_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PetCategories; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."PetCategories" (
    "Id" integer NOT NULL,
    "SvgIcon" text NOT NULL,
    "IconColor" character varying(50) NOT NULL,
    "BackgroundColor" character varying(50) NOT NULL,
    "IsActive" boolean DEFAULT true NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "IsDeleted" boolean DEFAULT false NOT NULL,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid
);


ALTER TABLE public."PetCategories" OWNER TO petwebsite_user;

--
-- Name: PetCategories_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."PetCategories" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PetCategories_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PetCategoryLocalizations; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."PetCategoryLocalizations" (
    "Id" integer NOT NULL,
    "PetCategoryId" integer NOT NULL,
    "Title" character varying(100) NOT NULL,
    "Subtitle" character varying(200) NOT NULL,
    "AppLocaleId" integer NOT NULL
);


ALTER TABLE public."PetCategoryLocalizations" OWNER TO petwebsite_user;

--
-- Name: PetCategoryLocalizations_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."PetCategoryLocalizations" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PetCategoryLocalizations_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: RegularUsers; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."RegularUsers" (
    "Id" uuid NOT NULL,
    "FirstName" character varying(100) NOT NULL,
    "LastName" character varying(100) NOT NULL,
    "RefreshToken" character varying(500),
    "RefreshTokenExpiryTime" timestamp with time zone,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "LastLoginAt" timestamp with time zone,
    "IsActive" boolean NOT NULL,
    "ProfilePictureUrl" character varying(1000),
    "UserName" character varying(256) NOT NULL,
    "NormalizedUserName" text,
    "Email" character varying(256) NOT NULL,
    "NormalizedEmail" text,
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."RegularUsers" OWNER TO petwebsite_user;

--
-- Name: SmsVerificationCodes; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."SmsVerificationCodes" (
    "Id" integer NOT NULL,
    "PhoneNumber" text NOT NULL,
    "Code" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "ExpiresAt" timestamp with time zone NOT NULL,
    "IsVerified" boolean NOT NULL,
    "VerifiedAt" timestamp with time zone,
    "Purpose" text NOT NULL
);


ALTER TABLE public."SmsVerificationCodes" OWNER TO petwebsite_user;

--
-- Name: SmsVerificationCodes_Id_seq; Type: SEQUENCE; Schema: public; Owner: petwebsite_user
--

ALTER TABLE public."SmsVerificationCodes" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."SmsVerificationCodes_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: petwebsite_user
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO petwebsite_user;

--
-- Data for Name: AdminRoleClaims; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."AdminRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AdminRoles; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."AdminRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
b06da9c8-ebae-4748-8e21-b4421b253bb8	SuperAdmin	SUPERADMIN	\N
0e6297b1-9860-422d-9288-44cc7313e4ac	Admin	ADMIN	\N
647b1c6a-7b90-4c43-bd29-833c978f20c6	Moderator	MODERATOR	\N
\.


--
-- Data for Name: AdminUserClaims; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."AdminUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AdminUserLogins; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."AdminUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AdminUserRoles; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."AdminUserRoles" ("UserId", "RoleId") FROM stdin;
2772da55-7062-4b0c-b6b2-be156545c6e6	b06da9c8-ebae-4748-8e21-b4421b253bb8
\.


--
-- Data for Name: AdminUserTokens; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."AdminUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: Admins; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: AppLocales; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."AppLocales" ("Id", "Code", "Name", "NativeName", "IsActive", "IsDefault") FROM stdin;
1	az	Azerbaijani	AzΓòö├ûrbaycan	t	t
2	en	English	English	t	f
3	ru	Russian	Γò¿├íΓòñ├óΓòñ├╝Γòñ├╝Γò¿ΓòæΓò¿ΓòòΓò¿Γòú	t	f
\.


--
-- Data for Name: BlacklistedTokens; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: Cities; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: FavoriteAds; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: PetAdImages; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: PetAdQuestions; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."PetAdQuestions" ("Id", "PetAdId", "UserId", "Question", "Answer", "AnsweredAt", "IsDeleted", "CreatedAt", "UpdatedAt", "CreatedBy", "UpdatedBy") FROM stdin;
1	190	065f1413-08a0-4ed4-954b-d87dd07c48e2	Can this bird talk?	\N	\N	f	2025-11-14 13:44:19.253502+00	\N	065f1413-08a0-4ed4-954b-d87dd07c48e2	\N
\.


--
-- Data for Name: PetAdViews; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: PetAds; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: PetBreedLocalizations; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: PetBreeds; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: PetCategories; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: PetCategoryLocalizations; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: RegularUsers; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--



--
-- Data for Name: SmsVerificationCodes; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."SmsVerificationCodes" ("Id", "PhoneNumber", "Code", "CreatedAt", "ExpiresAt", "IsVerified", "VerifiedAt", "Purpose") FROM stdin;
4	0508668407	123456	2025-11-10 21:38:43.409052+00	2025-11-10 21:48:43.409065+00	t	2025-11-10 21:38:52.631106+00	Login
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: petwebsite_user
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20251104071851_InitialMigration	8.0.11
20251112081836_AddPetAdImageOwnershipTracking	8.0.11
20251112135913_UpdateFilePathsWithUploadsPrefix	8.0.11
20251115192212_RemoveContactFieldsFromPetAd	8.0.11
\.


--
-- Name: AdminRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."AdminRoleClaims_Id_seq"', 1, false);


--
-- Name: AdminUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."AdminUserClaims_Id_seq"', 1, false);


--
-- Name: AppLocales_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."AppLocales_Id_seq"', 3, true);


--
-- Name: BlacklistedTokens_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."BlacklistedTokens_Id_seq"', 28, true);


--
-- Name: Cities_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."Cities_Id_seq"', 10, true);


--
-- Name: PetAdImages_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."PetAdImages_Id_seq"', 1306, true);


--
-- Name: PetAdQuestions_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."PetAdQuestions_Id_seq"', 1, true);


--
-- Name: PetAdViews_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."PetAdViews_Id_seq"', 13, true);


--
-- Name: PetAds_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."PetAds_Id_seq"', 505, true);


--
-- Name: PetBreedLocalizations_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."PetBreedLocalizations_Id_seq"', 230, true);


--
-- Name: PetBreeds_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."PetBreeds_Id_seq"', 230, true);


--
-- Name: PetCategories_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."PetCategories_Id_seq"', 25, true);


--
-- Name: PetCategoryLocalizations_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."PetCategoryLocalizations_Id_seq"', 25, true);


--
-- Name: SmsVerificationCodes_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: petwebsite_user
--

SELECT pg_catalog.setval('public."SmsVerificationCodes_Id_seq"', 4, true);


--
-- Name: AdminRoleClaims PK_AdminRoleClaims; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminRoleClaims"
    ADD CONSTRAINT "PK_AdminRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AdminRoles PK_AdminRoles; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminRoles"
    ADD CONSTRAINT "PK_AdminRoles" PRIMARY KEY ("Id");


--
-- Name: AdminUserClaims PK_AdminUserClaims; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserClaims"
    ADD CONSTRAINT "PK_AdminUserClaims" PRIMARY KEY ("Id");


--
-- Name: AdminUserLogins PK_AdminUserLogins; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserLogins"
    ADD CONSTRAINT "PK_AdminUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AdminUserRoles PK_AdminUserRoles; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserRoles"
    ADD CONSTRAINT "PK_AdminUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AdminUserTokens PK_AdminUserTokens; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserTokens"
    ADD CONSTRAINT "PK_AdminUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: Admins PK_Admins; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."Admins"
    ADD CONSTRAINT "PK_Admins" PRIMARY KEY ("Id");


--
-- Name: AppLocales PK_AppLocales; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AppLocales"
    ADD CONSTRAINT "PK_AppLocales" PRIMARY KEY ("Id");


--
-- Name: BlacklistedTokens PK_BlacklistedTokens; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."BlacklistedTokens"
    ADD CONSTRAINT "PK_BlacklistedTokens" PRIMARY KEY ("Id");


--
-- Name: Cities PK_Cities; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."Cities"
    ADD CONSTRAINT "PK_Cities" PRIMARY KEY ("Id");


--
-- Name: FavoriteAds PK_FavoriteAds; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."FavoriteAds"
    ADD CONSTRAINT "PK_FavoriteAds" PRIMARY KEY ("UserId", "PetAdId");


--
-- Name: PetAdImages PK_PetAdImages; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdImages"
    ADD CONSTRAINT "PK_PetAdImages" PRIMARY KEY ("Id");


--
-- Name: PetAdQuestions PK_PetAdQuestions; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdQuestions"
    ADD CONSTRAINT "PK_PetAdQuestions" PRIMARY KEY ("Id");


--
-- Name: PetAdViews PK_PetAdViews; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdViews"
    ADD CONSTRAINT "PK_PetAdViews" PRIMARY KEY ("Id");


--
-- Name: PetAds PK_PetAds; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAds"
    ADD CONSTRAINT "PK_PetAds" PRIMARY KEY ("Id");


--
-- Name: PetBreedLocalizations PK_PetBreedLocalizations; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetBreedLocalizations"
    ADD CONSTRAINT "PK_PetBreedLocalizations" PRIMARY KEY ("Id");


--
-- Name: PetBreeds PK_PetBreeds; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetBreeds"
    ADD CONSTRAINT "PK_PetBreeds" PRIMARY KEY ("Id");


--
-- Name: PetCategories PK_PetCategories; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetCategories"
    ADD CONSTRAINT "PK_PetCategories" PRIMARY KEY ("Id");


--
-- Name: PetCategoryLocalizations PK_PetCategoryLocalizations; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetCategoryLocalizations"
    ADD CONSTRAINT "PK_PetCategoryLocalizations" PRIMARY KEY ("Id");


--
-- Name: RegularUsers PK_RegularUsers; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."RegularUsers"
    ADD CONSTRAINT "PK_RegularUsers" PRIMARY KEY ("Id");


--
-- Name: SmsVerificationCodes PK_SmsVerificationCodes; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."SmsVerificationCodes"
    ADD CONSTRAINT "PK_SmsVerificationCodes" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "EmailIndex" ON public."Admins" USING btree ("NormalizedEmail");


--
-- Name: IX_AdminRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_AdminRoleClaims_RoleId" ON public."AdminRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AdminUserClaims_UserId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_AdminUserClaims_UserId" ON public."AdminUserClaims" USING btree ("UserId");


--
-- Name: IX_AdminUserLogins_UserId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_AdminUserLogins_UserId" ON public."AdminUserLogins" USING btree ("UserId");


--
-- Name: IX_AdminUserRoles_RoleId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_AdminUserRoles_RoleId" ON public."AdminUserRoles" USING btree ("RoleId");


--
-- Name: IX_Admins_IsActive; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_Admins_IsActive" ON public."Admins" USING btree ("IsActive");


--
-- Name: IX_AppLocales_Code; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE UNIQUE INDEX "IX_AppLocales_Code" ON public."AppLocales" USING btree ("Code");


--
-- Name: IX_BlacklistedTokens_ExpiresAt; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_BlacklistedTokens_ExpiresAt" ON public."BlacklistedTokens" USING btree ("ExpiresAt");


--
-- Name: IX_BlacklistedTokens_TokenId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE UNIQUE INDEX "IX_BlacklistedTokens_TokenId" ON public."BlacklistedTokens" USING btree ("TokenId");


--
-- Name: IX_BlacklistedTokens_UserId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_BlacklistedTokens_UserId" ON public."BlacklistedTokens" USING btree ("UserId");


--
-- Name: IX_Cities_IsActive; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_Cities_IsActive" ON public."Cities" USING btree ("IsActive");


--
-- Name: IX_Cities_IsDeleted; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_Cities_IsDeleted" ON public."Cities" USING btree ("IsDeleted");


--
-- Name: IX_Cities_Name; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_Cities_Name" ON public."Cities" USING btree ("Name");


--
-- Name: IX_FavoriteAds_CreatedAt; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_FavoriteAds_CreatedAt" ON public."FavoriteAds" USING btree ("CreatedAt");


--
-- Name: IX_FavoriteAds_PetAdId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_FavoriteAds_PetAdId" ON public."FavoriteAds" USING btree ("PetAdId");


--
-- Name: IX_FavoriteAds_UserId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_FavoriteAds_UserId" ON public."FavoriteAds" USING btree ("UserId");


--
-- Name: IX_PetAdImages_IsPrimary; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdImages_IsPrimary" ON public."PetAdImages" USING btree ("IsPrimary");


--
-- Name: IX_PetAdImages_PetAdId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdImages_PetAdId" ON public."PetAdImages" USING btree ("PetAdId");


--
-- Name: IX_PetAdImages_UploadedAt_PetAdId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdImages_UploadedAt_PetAdId" ON public."PetAdImages" USING btree ("UploadedAt", "PetAdId");


--
-- Name: IX_PetAdImages_UploadedById; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdImages_UploadedById" ON public."PetAdImages" USING btree ("UploadedById");


--
-- Name: IX_PetAdImages_UploadedById_PetAdId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdImages_UploadedById_PetAdId" ON public."PetAdImages" USING btree ("UploadedById", "PetAdId");


--
-- Name: IX_PetAdQuestions_CreatedAt; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdQuestions_CreatedAt" ON public."PetAdQuestions" USING btree ("CreatedAt");


--
-- Name: IX_PetAdQuestions_PetAdId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdQuestions_PetAdId" ON public."PetAdQuestions" USING btree ("PetAdId");


--
-- Name: IX_PetAdQuestions_UserId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdQuestions_UserId" ON public."PetAdQuestions" USING btree ("UserId");


--
-- Name: IX_PetAdViews_PetAdId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdViews_PetAdId" ON public."PetAdViews" USING btree ("PetAdId");


--
-- Name: IX_PetAdViews_UserId_PetAdId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdViews_UserId_PetAdId" ON public."PetAdViews" USING btree ("UserId", "PetAdId");


--
-- Name: IX_PetAdViews_UserId_ViewedAt; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdViews_UserId_ViewedAt" ON public."PetAdViews" USING btree ("UserId", "ViewedAt");


--
-- Name: IX_PetAdViews_ViewedAt; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAdViews_ViewedAt" ON public."PetAdViews" USING btree ("ViewedAt");


--
-- Name: IX_PetAds_AdType; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_AdType" ON public."PetAds" USING btree ("AdType");


--
-- Name: IX_PetAds_CityId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_CityId" ON public."PetAds" USING btree ("CityId");


--
-- Name: IX_PetAds_CreatedAt; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_CreatedAt" ON public."PetAds" USING btree ("CreatedAt");


--
-- Name: IX_PetAds_IsAvailable; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_IsAvailable" ON public."PetAds" USING btree ("IsAvailable");


--
-- Name: IX_PetAds_IsDeleted; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_IsDeleted" ON public."PetAds" USING btree ("IsDeleted");


--
-- Name: IX_PetAds_IsPremium; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_IsPremium" ON public."PetAds" USING btree ("IsPremium");


--
-- Name: IX_PetAds_PetBreedId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_PetBreedId" ON public."PetAds" USING btree ("PetBreedId");


--
-- Name: IX_PetAds_PremiumExpiresAt; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_PremiumExpiresAt" ON public."PetAds" USING btree ("PremiumExpiresAt");


--
-- Name: IX_PetAds_PublishedAt; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_PublishedAt" ON public."PetAds" USING btree ("PublishedAt");


--
-- Name: IX_PetAds_Size; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_Size" ON public."PetAds" USING btree ("Size");


--
-- Name: IX_PetAds_Status; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_Status" ON public."PetAds" USING btree ("Status");


--
-- Name: IX_PetAds_UserId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetAds_UserId" ON public."PetAds" USING btree ("UserId");


--
-- Name: IX_PetBreedLocalizations_AppLocaleId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetBreedLocalizations_AppLocaleId" ON public."PetBreedLocalizations" USING btree ("AppLocaleId");


--
-- Name: IX_PetBreedLocalizations_PetBreedId_AppLocaleId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE UNIQUE INDEX "IX_PetBreedLocalizations_PetBreedId_AppLocaleId" ON public."PetBreedLocalizations" USING btree ("PetBreedId", "AppLocaleId");


--
-- Name: IX_PetBreeds_IsDeleted; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetBreeds_IsDeleted" ON public."PetBreeds" USING btree ("IsDeleted");


--
-- Name: IX_PetBreeds_PetCategoryId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetBreeds_PetCategoryId" ON public."PetBreeds" USING btree ("PetCategoryId");


--
-- Name: IX_PetCategories_IsDeleted; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetCategories_IsDeleted" ON public."PetCategories" USING btree ("IsDeleted");


--
-- Name: IX_PetCategoryLocalizations_AppLocaleId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE INDEX "IX_PetCategoryLocalizations_AppLocaleId" ON public."PetCategoryLocalizations" USING btree ("AppLocaleId");


--
-- Name: IX_PetCategoryLocalizations_PetCategoryId_AppLocaleId; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE UNIQUE INDEX "IX_PetCategoryLocalizations_PetCategoryId_AppLocaleId" ON public."PetCategoryLocalizations" USING btree ("PetCategoryId", "AppLocaleId");


--
-- Name: IX_RegularUsers_Email; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE UNIQUE INDEX "IX_RegularUsers_Email" ON public."RegularUsers" USING btree ("Email");


--
-- Name: IX_RegularUsers_UserName; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE UNIQUE INDEX "IX_RegularUsers_UserName" ON public."RegularUsers" USING btree ("UserName");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AdminRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: petwebsite_user
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."Admins" USING btree ("NormalizedUserName");


--
-- Name: AdminRoleClaims FK_AdminRoleClaims_AdminRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminRoleClaims"
    ADD CONSTRAINT "FK_AdminRoleClaims_AdminRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AdminRoles"("Id") ON DELETE CASCADE;


--
-- Name: AdminUserClaims FK_AdminUserClaims_Admins_UserId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserClaims"
    ADD CONSTRAINT "FK_AdminUserClaims_Admins_UserId" FOREIGN KEY ("UserId") REFERENCES public."Admins"("Id") ON DELETE CASCADE;


--
-- Name: AdminUserLogins FK_AdminUserLogins_Admins_UserId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserLogins"
    ADD CONSTRAINT "FK_AdminUserLogins_Admins_UserId" FOREIGN KEY ("UserId") REFERENCES public."Admins"("Id") ON DELETE CASCADE;


--
-- Name: AdminUserRoles FK_AdminUserRoles_AdminRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserRoles"
    ADD CONSTRAINT "FK_AdminUserRoles_AdminRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AdminRoles"("Id") ON DELETE CASCADE;


--
-- Name: AdminUserRoles FK_AdminUserRoles_Admins_UserId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserRoles"
    ADD CONSTRAINT "FK_AdminUserRoles_Admins_UserId" FOREIGN KEY ("UserId") REFERENCES public."Admins"("Id") ON DELETE CASCADE;


--
-- Name: AdminUserTokens FK_AdminUserTokens_Admins_UserId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."AdminUserTokens"
    ADD CONSTRAINT "FK_AdminUserTokens_Admins_UserId" FOREIGN KEY ("UserId") REFERENCES public."Admins"("Id") ON DELETE CASCADE;


--
-- Name: FavoriteAds FK_FavoriteAds_PetAds_PetAdId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."FavoriteAds"
    ADD CONSTRAINT "FK_FavoriteAds_PetAds_PetAdId" FOREIGN KEY ("PetAdId") REFERENCES public."PetAds"("Id") ON DELETE CASCADE;


--
-- Name: FavoriteAds FK_FavoriteAds_RegularUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."FavoriteAds"
    ADD CONSTRAINT "FK_FavoriteAds_RegularUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."RegularUsers"("Id") ON DELETE CASCADE;


--
-- Name: PetAdImages FK_PetAdImages_PetAds_PetAdId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdImages"
    ADD CONSTRAINT "FK_PetAdImages_PetAds_PetAdId" FOREIGN KEY ("PetAdId") REFERENCES public."PetAds"("Id") ON DELETE CASCADE;


--
-- Name: PetAdImages FK_PetAdImages_RegularUsers_UploadedById; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdImages"
    ADD CONSTRAINT "FK_PetAdImages_RegularUsers_UploadedById" FOREIGN KEY ("UploadedById") REFERENCES public."RegularUsers"("Id") ON DELETE RESTRICT;


--
-- Name: PetAdQuestions FK_PetAdQuestions_PetAds_PetAdId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdQuestions"
    ADD CONSTRAINT "FK_PetAdQuestions_PetAds_PetAdId" FOREIGN KEY ("PetAdId") REFERENCES public."PetAds"("Id") ON DELETE CASCADE;


--
-- Name: PetAdQuestions FK_PetAdQuestions_RegularUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdQuestions"
    ADD CONSTRAINT "FK_PetAdQuestions_RegularUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."RegularUsers"("Id") ON DELETE RESTRICT;


--
-- Name: PetAdViews FK_PetAdViews_PetAds_PetAdId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdViews"
    ADD CONSTRAINT "FK_PetAdViews_PetAds_PetAdId" FOREIGN KEY ("PetAdId") REFERENCES public."PetAds"("Id") ON DELETE CASCADE;


--
-- Name: PetAdViews FK_PetAdViews_RegularUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAdViews"
    ADD CONSTRAINT "FK_PetAdViews_RegularUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."RegularUsers"("Id") ON DELETE CASCADE;


--
-- Name: PetAds FK_PetAds_Cities_CityId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAds"
    ADD CONSTRAINT "FK_PetAds_Cities_CityId" FOREIGN KEY ("CityId") REFERENCES public."Cities"("Id") ON DELETE RESTRICT;


--
-- Name: PetAds FK_PetAds_PetBreeds_PetBreedId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAds"
    ADD CONSTRAINT "FK_PetAds_PetBreeds_PetBreedId" FOREIGN KEY ("PetBreedId") REFERENCES public."PetBreeds"("Id") ON DELETE RESTRICT;


--
-- Name: PetAds FK_PetAds_RegularUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetAds"
    ADD CONSTRAINT "FK_PetAds_RegularUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."RegularUsers"("Id") ON DELETE SET NULL;


--
-- Name: PetBreedLocalizations FK_PetBreedLocalizations_AppLocales_AppLocaleId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetBreedLocalizations"
    ADD CONSTRAINT "FK_PetBreedLocalizations_AppLocales_AppLocaleId" FOREIGN KEY ("AppLocaleId") REFERENCES public."AppLocales"("Id") ON DELETE RESTRICT;


--
-- Name: PetBreedLocalizations FK_PetBreedLocalizations_PetBreeds_PetBreedId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetBreedLocalizations"
    ADD CONSTRAINT "FK_PetBreedLocalizations_PetBreeds_PetBreedId" FOREIGN KEY ("PetBreedId") REFERENCES public."PetBreeds"("Id") ON DELETE CASCADE;


--
-- Name: PetBreeds FK_PetBreeds_PetCategories_PetCategoryId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetBreeds"
    ADD CONSTRAINT "FK_PetBreeds_PetCategories_PetCategoryId" FOREIGN KEY ("PetCategoryId") REFERENCES public."PetCategories"("Id") ON DELETE RESTRICT;


--
-- Name: PetCategoryLocalizations FK_PetCategoryLocalizations_AppLocales_AppLocaleId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetCategoryLocalizations"
    ADD CONSTRAINT "FK_PetCategoryLocalizations_AppLocales_AppLocaleId" FOREIGN KEY ("AppLocaleId") REFERENCES public."AppLocales"("Id") ON DELETE RESTRICT;


--
-- Name: PetCategoryLocalizations FK_PetCategoryLocalizations_PetCategories_PetCategoryId; Type: FK CONSTRAINT; Schema: public; Owner: petwebsite_user
--

ALTER TABLE ONLY public."PetCategoryLocalizations"
    ADD CONSTRAINT "FK_PetCategoryLocalizations_PetCategories_PetCategoryId" FOREIGN KEY ("PetCategoryId") REFERENCES public."PetCategories"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict zxLxnBndH6fGJ9mFcrsaw586UzEfbhqpK4dKC5onbV4j0vvHbNQfAE9iZfxFM2Z

